<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @candidate.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @candidate.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @candidate.address %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @candidate.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @candidate.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @candidate.postal_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @candidate.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @candidate.country %>
</p>

<p>
  <strong>Current company:</strong>
  <%= @candidate.current_company %>
</p>

<p>
  <strong>Current branch:</strong>
  <%= @candidate.current_branch %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @candidate.industry %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @candidate.job_title %>
</p>

<p>
  <strong>Current level:</strong>
  <%= @candidate.current_Level %>
</p>

<p>
  <strong>Current package:</strong>
  <%= @candidate.current_package %>
</p>

<p>
  <strong>Previous company:</strong>
  <%= @candidate.previous_company %>
</p>

<p>
  <strong>Previous branch:</strong>
  <%= @candidate.previous_branch %>
</p>

<p>
  <strong>Previous industry:</strong>
  <%= @candidate.previous_industry %>
</p>

<p>
  <strong>Previous job title:</strong>
  <%= @candidate.previous_job_title %>
</p>

<p>
  <strong>Previous level:</strong>
  <%= @candidate.previous_level %>
</p>

<p>
  <strong>Previous package:</strong>
  <%= @candidate.previous_package %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @candidate.reason %>
</p>

<p>
  <strong>Proof:</strong>
  <%= @candidate.proof %>
</p>

<p>
  <strong>Type:</strong>
  <%= @candidate.type %>
</p>

<p>
  <strong>Linked in:</strong>
  <%= @candidate.linked_in %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @candidate.resume %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
